$font-family: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;


.typesContainer
{
  display: flex;
  flex-direction: row;
  .typeDiv{
    height: 60px;
    width: 100px;
    margin: 10px 15px;
    border: 2px solid black;
    padding: auto;
    text-align: center;
    justify-content: center;
  }
  
  .normal{
    background-color: #a7a87a;
  }
  
  .flying{
    background-color: #a990ee;
  }
  
  .fire{
    background-color: #e8843a;
  }

  .water{
    background-color: #728fee;
  }
  
  .fighting{
    background-color: rgb(179, 0, 0);
  }
  
  .grass{
    background-color: #7ec754;
  }
  
  .fighting{
    background-color: #b8382e;
  }
  
  .poison{
    background-color: rgb(83, 5, 83);
  }

  .psychic{
    background-color: rgb(227, 75, 196);
  }

  .dragon{
    background-color: rgb(49, 23, 165);
  }
  
  .steel{
    background-color: rgb(93, 96, 97);
  }

  .ground{
    background-color: rgb(186, 156, 73);
  }
  .electric{
    color:#222;
    background-color: rgb(255, 255, 28);

  }
}

.pokemonImageDiv{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: animatedBackground 9s infinite linear;
  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

.pokemonStatDiv{
  min-height: 280px;
  width: max-content;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #555;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 10px 0;
  gap:10px;
  color:white;
  div{
    width: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size:20px;
    // background-color: rgb(218, 175, 19);
    span{
      text-align: center;
    }
  }
}

body {
  font-family: $font-family;
  color: $text-color;
  background: $primary-color;
  >.alert {
    >input {
      outline: none;
    }
  }
  >.select {
    margin-top: 10px;
    >select {
      outline: none;
    }
  }
  #display {
    height: 200px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #dialog {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    >.card {
      width: 300px;
      padding: 15px;
      border-radius: 7px;
      background: white;
      color: #222;
      display: flex;
      align-items: center;
      flex-direction: column;
      #message {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      button {
        width: 100px;
      }
    }
  }
}

///fsdfsd
